<template name="layout">
	{{#layoutWrapper}}
	<header>
		<div class="navbar-fixed">
			<nav>
				<div class="nav-wrapper">
					{{#momentum plugin='flow-router'}}
						{{> Template.dynamic template=top}}
					{{/momentum}}
				</div>
			</nav>
		</div>
	</header>

	<main>
			<div class="main-content-wrapper">
				{{#momentum plugin='flow-router'}}
					{{> Template.dynamic template=main}}
				{{/momentum}}
			</div>
	</main>
	{{/layoutWrapper}}
</template>

<template name="layoutLeft">
	{{>layout}}
</template>

<template name="layoutFade">
	{{>layout}}
</template>
