.list-item
	padding 0 16px
	position relative
	color #4D4D4E
	height 48px
	line-height 48px

	.icon
		float left
		padding-right 16px

.collection-wrapper
	padding-bottom 60px

.collection .collection-item
	border 0
	position relative
	color #4D4D4E

	height 72px
	line-height 52px

	&.avatar

		.primary-content
			line-height 36px

		line-height 1
		height 56px

	i.circle
		font-style normal

	.secondary
		color #999999

	&:last-child
		margin-bottom 72px

	&.waves-effect
		// display block
	  display flex
	  justify-content space-between
	  align-items center

	.border
		position absolute
		left 20px
		right 0
		bottom 0
		height 1px
		background-color #E4E4E4

	&.avatar .border
		left 72px


.list-heading
	padding 0 16px
	height 32px
	line-height 32px
	font-size 12px
	color #999999
